[Unit]
Description=Better fan control for HP ProBook 430 G2

[Service]
ExecStart=/usr/bin/fanslow
ExecStopPost=/usr/bin/probook_ec FANRST

[Install]
WantedBy=multi-user.target
